@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap");
.acenter {
  text-align: center;
}
.piccenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.kanit {
  font-family: "kanit", sans-serif;
}
.kanitlight {
  font-family: "kanit", sans-serif;
  font-weight: 300;
}
